name: CI

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write
  pages: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: "latest"

      - name: Build Home
        run: |
          mdbook build --dest-dir out

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./out

      - uses: actions/deploy-pages@v4
        id: deployment
